<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- th:inline indicates the value of the text that should be displayed within the <p> tag-->
<!--[[${song.name}]] calls the model.addAttribute value from the HomeController-->
    <p th:inline="text">
    The song name was [[${song.name}]]. <br />
    The artist name was [[${song.artist}]]. <br />
    The album name was [[${song.album}]]. <br />
    The rating name was [[${song.rating}]]. <br />
    </p>
</body>
</html>